@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('..fonts/helveticaneuecyr-light-webfont.eot');
    src: url('..fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('..fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('..fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('..fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('..fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  background-color: black;
  background-image: url(../images/bodybackground.jpg);
  font-family: helveticaneuecyrlight, helvetica;
  background-size: cover;
}
.headwrapper {
  width: 1000px;
  margin: 0 auto;
}
.mainmenu {
  text-align: right;
  background-color: rgb(7, 81, 144);
  width: 100%;
}
.mainmenu li {
  display: inline-block;

  padding-top: 5px;
}
.mainmenu li a {
  color: rgb(92, 175, 231);
  padding: 5px;
  text-decoration: none;
  font-size: 1em;
}
.mainmenu li a:hover {
  color: white;
  background-color: rgb(78, 171, 218);
  padding: 6px 5px;
}
.mainmenu .ofertas {
  border-left: 1px solid rgb(92, 175, 231);
  padding: 5px 0px 2px 30px;
  background-image: url(../images/flagback.png);
  background-size: cover;
  background-repeat: no-repeat;

}
.mainmenu .ofertas:hover {
  color: white;
  background-color: rgb(78, 171, 218);
  padding-bottom: 6px;
  padding-top: 5px;
}
li.menucloser {
  background-color: rgb(78, 171, 218);
  color: white;
  padding: 7px 5px;
}
.menucloser a:hover {
  background-color: rgb(78, 171, 218);
  color: white;
  padding: 7px 5px;
}
.menucloser span {
    font-size: 1em;
}
.mainmenu .refitem {
  color: white;
  text-decoration: underline;
}
.cadastre {
  background-color: rgba(0, 0, 0, 0.5);
  width: 560px;
  margin: 100px auto;
  clear: both;
}
.cadastretop {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1.5em;
}
.formconainer {
  text-align: center;
}
.fbbuttom {
  height: 15px;
  padding-right: 10px;
}
.strelka {
  padding: 0 5px;
}
.fb {
  padding: 2px 5px ;
  margin: 30px auto 10px auto;
  background: linear-gradient(to top, rgb(45, 64, 120), rgb(59, 87, 152));
  width: 275px;
  border-radius: 5px;
  border-top: 1px solid rgb(117, 138, 181);
  }
.loginfb {
  display: inline-block;
  padding: 5px 5px 7px 45px;
  color: white;
  border-left: 1px solid rgb(117, 138, 181);
  font-size: 1em;
}
.ou {
  width: 275px;
  padding: 15px 0 5px 0;
  margin: 0 auto;
  color: lightgrey;
}
.line1,
.line2 {
  float: left;
  width: 115px;
  margin-top: 5px;
  border-top: 1px solid grey;
  border-bottom: 1px solid black;
}
.ouline {
  float: left;
  padding: 0 10px;
  font-size: 0.9em;
}
.ou::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
form {
  padding: 10px;

}
.formconainer .myinput {
  width: 275px;
  background-color: rgba(15, 15, 15, 0.7);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid rgb(90, 90, 90);
  padding: 5px 10px;
  color: lightgrey;
  font-size: 0.9em;
  margin: 10px 0;
}
.myinput:focus {
  background: rgba(27, 82, 136, 0.7);
  box-shadow: 0 0 10px rgba(120,180,215, 0.8);
}
footer {
  text-align: center;
  color: lightgrey;
}
.submitbuttom {
  background: linear-gradient(to top, rgb(45, 122, 196), rgb(107, 184, 231));
  border-radius: 2px;
  border: 0px;
  color: white;
  padding: 5px;
  margin: 5px 0;
  font-size: 1.0em;
}
.forcheckbox {
  font-size: 0.9em;
}
.checkbox {
  width: 300px;
  margin: 0 auto;
}
.checkbox form {
  text-align: left;
  padding: 0;
}
.forsubmit {
  display: block;
  width: 305px;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 0.7em;
  line-height: 1.5;
  color: lightgrey;
}
