@mixin red_buttons($color) {
  background-color: $color;
  border: 0px;
  color: $font_color_white;
  font-family: $font_bold;
  &:active,
  &:focus {
    border: 0px;
    }
}
@mixin radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
