body {
  background: lightgrey;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  background: white;
  padding: 50px;
  border: 1px solid lightgrey;
  font-family: Trebuchet MS;
}
h1 {
  font-size: 56px;
  margin-bottom: 35px;
}
.mainmenu {
  background-color: darkslategray;
  margin-bottom: 35px;
}
.mainmenu li {
  display: inline-block;
  padding: 10px 30px;
}
.mainmenu a {
  padding: 0 10px;
  text-decoration: none;
  color: white;
}
.mainmenu a:hover {
  background-color: black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 7px 10px;
}
.productsmenu {
  float: left;
  width: 240px;
}
.productsmenu li {
  border: 1px solid grey;
  margin-bottom: -1px;
  padding: 10px;
  /*font-size: 20px;*/
  color: grey;
}
.productsmenu a {
  text-decoration: none;
  color: grey;
}
.productsmenu a:hover {
  text-decoration: none;;
  color: grey;
  padding-left: 10px;
  color: black;
}

img {
  width:700px;
  border: 1px solid lightgrey;
  float: right;
}
.bikedescription {
  /*clear: both;*/
  width: 700px;
  margin-left: 280px;
  padding: 30px;
  line-height: 2;
  color: grey;
  display: block;
}
.clearfix:after {
content: "";
display: block;
clear: both;
}
.footermenu {
  background-color: lightgrey;
  padding: 5px;
}
.footermenu li {
  display: inline-block;
  padding: 10px 40px;
}
.footermenu a {
  text-decoration: none;
  color: grey;
}
.footermenu a:hover {
  text-decoration: underline;
  color: grey;
}
.footer {
  position: relative;
}
.rigntreserved {
  position: absolute;
  top: 10px;
  right: 10px;
  color: grey;
}
