
.home

  .content
    h2 form step 1

    p {{main.formData}}
    form.contact-form(ng-submit="maxForm.$valid && main.formSubmit()", name='maxForm', novalidate='')
      p
        button(ui-sref='landing.home') step 1
        button(ui-sref='landing.page2', ng-show='main.showStep2',  ng-disabled="!maxForm.sum.$valid || !maxForm.period.$valid") step 2
        button(ui-sref='landing.page3',  ng-show='main.showStep3', ng-disabled="!maxForm.sum.$valid || !maxForm.period.$valid") step 3
      .form-group
        input.form-control(type="number", ng-model="main.formData.sum", name='sum', ng-step ='1', ng-min="1", ng-max="10000", ng-model-options="{ updateOn: 'blur' }", placeholder="sum", ng-required='true')
        .error-message(ng-class="{'active': (maxForm.$submitted || maxForm.sum.$dirty) && !maxForm.sum.$valid, '': maxForm.sum.$valid}")
          p required, wait for number 1-10000
        br
        input.form-control(type="number", ng-model="main.formData.period", name='period', ng-step ='1', ng-min="1", ng-max="12", ng-model-options="{ updateOn: 'blur' }", placeholder="period", ng-required='true')
        .error-message(ng-class="{'active': (maxForm.$submitted || maxForm.period.$dirty) && !maxForm.period.$valid, '': maxForm.period.$valid}")
          p required, wait for number 1-12
        br
        button.btn.btn-success(ui-sref='landing.page2', ng-disabled="!maxForm.sum.$valid || !maxForm.period.$valid", ng-click='main.showStep2 = true') next
