body {
  background-color: orange;
  font-family: Arial sans-serif, sans-serif;
}
div.carousel {
  padding: 20px;
  overflow: hidden;
  margin: 0 auto;
  width: 1200px;
}
ul.carousel-list {
  list-style: none;
  width: 10000px;
  padding: 0px;
  position: relative;
}
li.carousel-element {
  display: block;
  margin: 20px;
  float: left;
}
li.carousel-element img {
  width: 450px;
}
div.carousel-hider {
  width: 980px;
  overflow: hidden;
  float: left;
  border: 3px solid green;
  border-radius: 10px;
}
div.carousel-arrow-left, .carousel-arrow-right {
  float: left;
  margin-top: 150px;
  padding: 5px;
  background-color: lightblue;
  border: 2px solid grey;
  border-radius: 10px;
}
div.carousel-arrow-left {
  margin-right: 15px;
}
div.carousel-arrow-right {
  margin-left: 15px;
}
div.carousel-arrow-left span,
div.carousel-arrow-right span,
li.carousel-element p {
  font-style: italic;
}
div.carousel-arrow-left:hover,
div.carousel-arrow-right:hover {
  cursor: pointer;
  background-color: grey;
}

div.templating {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  background: white;
  overflow: hidden;
}
h1 {
  font-size: 18px;
  color: red;
  font-weight: bold;
}
div.candidates {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  float: left;
}
