<!DOCTYPE html>
<html ng-app='calculator'>
  <head>
    <meta charset="utf-8">
    <title>calc</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="styles.css">
    <script src="app.js"></script>
  </head>

  <body>

    <div class="calc col-md-6" ng-controller='calcCtrl'>
      <h2>LETS CALC SMTH</h2>
      <label for="num1">input first number</label>
      <input ng-model='num1' type="text" id='num1' name="name" value="">
      <br>
      <label for="num2">input first number</label>
      <input ng-model='num2' type="text" id='num2' name="name" value="">
      <br>
      <button ng-click='sum()' type="button" class='btn btn-success' name="button">+</button>
      <button ng-click='minus()' type="button" class='btn btn-warning' name="button">-</button>
      <button ng-click='mult()' type="button" class='btn btn-primary' name="button">*</button>
      <button ng-click='div()' type="button" class='btn btn-primary' name="button">/</button>
      <h2>result is
        <span>{{result}}</span>
      </h2>
    </div>

  </body>
</html>
