body {
  background-color: lightgrey;
  font-family: Arial sans-serif, sans-serif;
}
.wrapper {
    margin: 5% auto;
    width: 80%;
    font-size: 18px;
    font-family: Tahoma,sans-serif;
    text-align: center;
}
div.userGSearch {
  margin-top: 20px;
  width: 400px;
}
