/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'ubuntuLight';
  src: url("../fonts/ubuntu-light.eot");
  src: url("../fonts/ubuntu-light.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-light.woff2") format("woff2"), url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntuMedium';
  src: url("../fonts/ubuntu-medium.eot");
  src: url("../fonts/ubuntu-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-medium.woff2") format("woff2"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntuRegular';
  src: url("../fonts/ubuntu-condensed.eot");
  src: url("../fonts/ubuntu-condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-condensed.woff2") format("woff2"), url("../fonts/ubuntu-condensed.woff") format("woff"), url("../fonts/ubuntu-condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background: white;
  font-family: ubuntuRegular, sans-serif; }
  body a {
    text-decoration: none; }

div.container {
  width: 1160px;
  margin: 0 auto;
  overflow: hidden; }
  @media screen and (min-width: 767px) and (max-width: 1150px) {
    div.container {
      width: 760px; } }
  @media screen and (min-width: 300px) and (max-width: 766px) {
    div.container {
      width: 560px; } }

header,
nav,
div.slider,
div.articles {
  margin-top: 35px; }

.clearfix:after {
  content: '';
  clear: both;
  display: block; }

div.wrapper-top header div.header__logo {
  float: left; }
div.wrapper-top header div.header__links {
  float: right; }
  div.wrapper-top header div.header__links a.social-link {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/header-links-sprite.png); }
  div.wrapper-top header div.header__links a.facebook {
    background-position: 200px 46px; }
  div.wrapper-top header div.header__links a.facebook:hover {
    background-position: 200px 80px; }
  div.wrapper-top header div.header__links a.twitter {
    background-position: 158px 46px; }
  div.wrapper-top header div.header__links a.twitter:hover {
    background-position: 158px 80px; }
  div.wrapper-top header div.header__links a.rss {
    background-position: 112px 46px; }
  div.wrapper-top header div.header__links a.rss:hover {
    background-position: 112px 80px; }
  div.wrapper-top header div.header__links a.linkedin {
    background-position: 76px 46px; }
  div.wrapper-top header div.header__links a.linkedin:hover {
    background-position: 76px 80px; }
  div.wrapper-top header div.header__links a.skype {
    background-position: 40px 46px; }
  div.wrapper-top header div.header__links a.skype:hover {
    background-position: 40px 80px; }
div.wrapper-top nav {
  background-color: #2a2d32; }
  @media screen and (min-width: 300px) and (max-width: 766px) {
    div.wrapper-top nav {
      text-align: center;
      padding-bottom: 15px; } }
  div.wrapper-top nav ul.main-menu {
    float: left; }
    @media screen and (min-width: 300px) and (max-width: 766px) {
      div.wrapper-top nav ul.main-menu {
        float: none; } }
  div.wrapper-top nav li.dropdown {
    position: relative; }
    div.wrapper-top nav li.dropdown ul.sub-menu {
      position: absolute;
      top: 55px;
      left: 0;
      width: 140px;
      display: none;
      background-color: #2a2d32;
      z-index: 1000; }
      div.wrapper-top nav li.dropdown ul.sub-menu li {
        display: block;
        z-index: 1000; }
  div.wrapper-top nav li {
    display: inline-block;
    padding: 20px 0px; }
    div.wrapper-top nav li a {
      font-size: 14px;
      color: white;
      padding: 20px 40px;
      text-transform: uppercase; }
      @media screen and (min-width: 767px) and (max-width: 1150px) {
        div.wrapper-top nav li a {
          padding: 20px 20px; } }
      @media screen and (min-width: 300px) and (max-width: 766px) {
        div.wrapper-top nav li a {
          padding: 20px 30px; } }
    div.wrapper-top nav li .dropdown-triangle {
      margin-left: 5px; }
  div.wrapper-top nav li.active {
    background-color: #248cec; }
  div.wrapper-top nav div.header__search {
    position: relative;
    float: right;
    margin: 17.5px 40px 0px 0px; }
    @media screen and (min-width: 300px) and (max-width: 766px) {
      div.wrapper-top nav div.header__search {
        float: none;
        margin: 0px; } }
    div.wrapper-top nav div.header__search input.searchText {
      background-color: #8a8a8a;
      border-width: 0px;
      padding: 5px;
      width: 220px; }
    div.wrapper-top nav div.header__search input.searchImage {
      position: absolute;
      left: 240px;
      top: 6px; }
      @media screen and (min-width: 300px) and (max-width: 766px) {
        div.wrapper-top nav div.header__search input.searchImage {
          left: 410px; } }
div.wrapper-top div.slider-wrapper {
  position: relative;
  margin-top: 35px; }
  @media screen and (min-width: 300px) and (max-width: 766px) {
    div.wrapper-top div.slider-wrapper {
      display: none; } }
  div.wrapper-top div.slider-wrapper div.slider__moto {
    position: absolute;
    z-index: 100;
    left: 40px;
    top: 270px; }
    @media screen and (min-width: 767px) and (max-width: 1150px) {
      div.wrapper-top div.slider-wrapper div.slider__moto {
        top: 160px; } }
    div.wrapper-top div.slider-wrapper div.slider__moto p {
      text-transform: uppercase;
      font-family: ubuntuMedium, sans-serif;
      font-size: 55px;
      color: white;
      background: #191b1e;
      opacity: 0.8;
      padding: 0 5px; }
      @media screen and (min-width: 767px) and (max-width: 1150px) {
        div.wrapper-top div.slider-wrapper div.slider__moto p {
          font-size: 40px; } }
    div.wrapper-top div.slider-wrapper div.slider__moto p.first,
    div.wrapper-top div.slider-wrapper div.slider__moto p.second {
      width: 160px; }
    div.wrapper-top div.slider-wrapper div.slider__moto p.first {
      color: #f4b60d; }

div.articles {
  color: #8a8a8a; }
  div.articles h1 {
    color: #191b1e;
    font-size: 20px; }
  div.articles a {
    color: #191b1e; }
  div.articles a::after {
    content: url(../img/read-more.png);
    margin-left: 10px; }
  div.articles a:hover {
    color: #248cec; }

div.articles__article1,
div.articles__article2,
div.articles__article3 {
  float: left;
  width: 33%; }
  div.articles__article1 div.articles__article1__number,
  div.articles__article1 div.articles__article2__number,
  div.articles__article1 div.articles__article3__number,
  div.articles__article2 div.articles__article1__number,
  div.articles__article2 div.articles__article2__number,
  div.articles__article2 div.articles__article3__number,
  div.articles__article3 div.articles__article1__number,
  div.articles__article3 div.articles__article2__number,
  div.articles__article3 div.articles__article3__number {
    float: left;
    font-family: ubuntuMedium, sans-serif;
    font-size: 90px;
    width: 30%; }
    @media screen and (min-width: 767px) and (max-width: 1150px) {
      div.articles__article1 div.articles__article1__number,
      div.articles__article1 div.articles__article2__number,
      div.articles__article1 div.articles__article3__number,
      div.articles__article2 div.articles__article1__number,
      div.articles__article2 div.articles__article2__number,
      div.articles__article2 div.articles__article3__number,
      div.articles__article3 div.articles__article1__number,
      div.articles__article3 div.articles__article2__number,
      div.articles__article3 div.articles__article3__number {
        font-size: 60px; } }
    @media screen and (min-width: 300px) and (max-width: 766px) {
      div.articles__article1 div.articles__article1__number,
      div.articles__article1 div.articles__article2__number,
      div.articles__article1 div.articles__article3__number,
      div.articles__article2 div.articles__article1__number,
      div.articles__article2 div.articles__article2__number,
      div.articles__article2 div.articles__article3__number,
      div.articles__article3 div.articles__article1__number,
      div.articles__article3 div.articles__article2__number,
      div.articles__article3 div.articles__article3__number {
        font-size: 40px; } }
  div.articles__article1 div.articles__article__text,
  div.articles__article2 div.articles__article__text,
  div.articles__article3 div.articles__article__text {
    float: left;
    width: 70%; }
    div.articles__article1 div.articles__article__text p,
    div.articles__article1 div.articles__article__text h1,
    div.articles__article2 div.articles__article__text p,
    div.articles__article2 div.articles__article__text h1,
    div.articles__article3 div.articles__article__text p,
    div.articles__article3 div.articles__article__text h1 {
      margin-top: 11.66667px;
      font: 20px ubuntuMedium, sans-serif; }
      @media screen and (min-width: 300px) and (max-width: 766px) {
        div.articles__article1 div.articles__article__text p,
        div.articles__article1 div.articles__article__text h1,
        div.articles__article2 div.articles__article__text p,
        div.articles__article2 div.articles__article__text h1,
        div.articles__article3 div.articles__article__text p,
        div.articles__article3 div.articles__article__text h1 {
          margin-top: 3.5px; } }
    div.articles__article1 div.articles__article__text p.text-paragragh,
    div.articles__article2 div.articles__article__text p.text-paragragh,
    div.articles__article3 div.articles__article__text p.text-paragragh {
      display: block;
      height: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      font: 13px ubuntuRegular, sans-serif;
      margin-bottom: 20px; }
    div.articles__article1 div.articles__article__text p.height100,
    div.articles__article2 div.articles__article__text p.height100,
    div.articles__article3 div.articles__article__text p.height100 {
      height: 100%; }
    div.articles__article1 div.articles__article__text p.fast-truck img,
    div.articles__article2 div.articles__article__text p.fast-truck img,
    div.articles__article3 div.articles__article__text p.fast-truck img {
      opacity: 1; }

div.wrapper-services {
  background-color: #2a2d32;
  margin-top: 70px; }
  @media screen and (min-width: 300px) and (max-width: 766px) {
    div.wrapper-services {
      margin-top: 35px; } }
  div.wrapper-services div.services-schedule,
  div.wrapper-services div.services-maintence,
  div.wrapper-services div.services-tiresWheels,
  div.wrapper-services div.services-repair {
    float: left;
    text-align: center; }
    @media screen and (min-width: 767px) and (max-width: 1150px) {
      div.wrapper-services div.services-schedule,
      div.wrapper-services div.services-maintence,
      div.wrapper-services div.services-tiresWheels,
      div.wrapper-services div.services-repair {
        padding: 0px 15px;
        width: 45%;
        margin-top: 11.66667px; } }
  div.wrapper-services div.services-maintence,
  div.wrapper-services div.services-tiresWheels,
  div.wrapper-services div.services-repair {
    margin-left: 40px; }
    @media screen and (min-width: 767px) and (max-width: 1150px) {
      div.wrapper-services div.services-maintence,
      div.wrapper-services div.services-tiresWheels,
      div.wrapper-services div.services-repair {
        margin-left: 0px; } }
  @media screen and (min-width: 300px) and (max-width: 766px) {
    div.wrapper-services div.services-schedule,
    div.wrapper-services div.services-maintence,
    div.wrapper-services div.services-tiresWheels,
    div.wrapper-services div.services-repair {
      margin: 0px 10px; } }
  div.wrapper-services a:hover figcaption {
    color: #f4b60d; }
  div.wrapper-services p {
    margin-top: 35px;
    font: 24px ubuntuMedium, sans-serif;
    color: white; }
    @media screen and (min-width: 300px) and (max-width: 766px) {
      div.wrapper-services p {
        margin-top: 17.5px; } }
  div.wrapper-services figure {
    margin-top: 45px; }
    @media screen and (min-width: 767px) and (max-width: 1150px) {
      div.wrapper-services figure {
        margin-top: 0px; } }
    div.wrapper-services figure img {
      width: 260px; }
    div.wrapper-services figure figcaption {
      margin-top: 17.5px;
      margin-bottom: 60px;
      color: white;
      font: 16px ubuntuMedium, sans-serif; }
      @media screen and (min-width: 767px) and (max-width: 1150px) {
        div.wrapper-services figure figcaption {
          margin-bottom: 20px; } }
      @media screen and (min-width: 300px) and (max-width: 766px) {
        div.wrapper-services figure figcaption {
          margin-bottom: 6.66667px; } }

div.wrapper-news {
  padding-bottom: 60px;
  background-color: #f7f7f7; }
  @media screen and (min-width: 300px) and (max-width: 766px) {
    div.wrapper-news {
      padding-bottom: 20px; } }
  div.wrapper-news div.wrapper-news__news,
  div.wrapper-news div.wrapper-news__banners {
    float: left;
    width: 50%; }
    @media screen and (min-width: 300px) and (max-width: 766px) {
      div.wrapper-news div.wrapper-news__news,
      div.wrapper-news div.wrapper-news__banners {
        width: 98%; } }
    div.wrapper-news div.wrapper-news__news h1,
    div.wrapper-news div.wrapper-news__banners h1 {
      font: 24px ubuntuMedium, sans-serif;
      color: #191b1e;
      margin-top: 50px; }
  div.wrapper-news div.wrapper-news__news__item {
    position: relative;
    margin-top: 35px; }
    div.wrapper-news div.wrapper-news__news__item div.news-item-date {
      position: absolute;
      left: 0px;
      top: 10px; }
      div.wrapper-news div.wrapper-news__news__item div.news-item-date p.month {
        background: #248cec;
        color: white;
        text-align: center;
        padding: 5px;
        font: 15px ubuntuMedium, sans-serif; }
      div.wrapper-news div.wrapper-news__news__item div.news-item-date p.day {
        background: #f4b60d;
        color: #191b1e;
        text-align: center;
        padding: 5px;
        font: 18px ubuntuMedium, sans-serif; }
    div.wrapper-news div.wrapper-news__news__item div.news-item-foto,
    div.wrapper-news div.wrapper-news__news__item div.news-item-foto2 {
      width: 25.86207%;
      height: 150px;
      float: left;
      background: url(../img/services-man.png);
      background-size: cover; }
      @media screen and (min-width: 767px) and (max-width: 1150px) {
        div.wrapper-news div.wrapper-news__news__item div.news-item-foto,
        div.wrapper-news div.wrapper-news__news__item div.news-item-foto2 {
          height: 100px; } }
    div.wrapper-news div.wrapper-news__news__item div.news-item-foto2 {
      background: url(../img/services-truck.png);
      background-size: cover; }
    div.wrapper-news div.wrapper-news__news__item div.news-item-content {
      width: 63.7931%;
      height: 150px;
      float: left;
      margin-left: 30px; }
      div.wrapper-news div.wrapper-news__news__item div.news-item-content h1 {
        margin-top: 0px;
        font: 16px ubuntuMedium, sans-serif; }
        div.wrapper-news div.wrapper-news__news__item div.news-item-content h1 a {
          color: #191b1e; }
        div.wrapper-news div.wrapper-news__news__item div.news-item-content h1 a:hover {
          color: #248cec; }
      div.wrapper-news div.wrapper-news__news__item div.news-item-content p.news-item-content__comments {
        margin-top: 5px;
        color: #8a8a8a;
        font-size: 13px; }
      div.wrapper-news div.wrapper-news__news__item div.news-item-content p.news-item-content__text {
        margin-top: 25px;
        color: #8a8a8a;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px; }
  div.wrapper-news div.wrapper-news__banners div#accordion {
    margin-top: 35px; }
    @media screen and (min-width: 300px) and (max-width: 766px) {
      div.wrapper-news div.wrapper-news__banners div#accordion div {
        height: auto; } }
    div.wrapper-news div.wrapper-news__banners div#accordion h3 {
      margin-bottom: 10px;
      padding: 10px 0px 0px 10px;
      font: 13px ubuntuMedium, sans-serif;
      color: #191b1e;
      text-transform: uppercase;
      height: 40px;
      background: white;
      border: 1px solid lightgrey; }
      div.wrapper-news div.wrapper-news__banners div#accordion h3 span {
        margin: 0 10px 10px 0; }
      div.wrapper-news div.wrapper-news__banners div#accordion h3 span.ui-icon {
        background: url(../img/accordion-icons.png); }
      div.wrapper-news div.wrapper-news__banners div#accordion h3 span.ui-icon-triangle-1-e {
        background-position: -31px 22px; }
    div.wrapper-news div.wrapper-news__banners div#accordion h3.ui-accordion-header-active {
      background: #f4b60d;
      outline-color: lightgrey; }
    div.wrapper-news div.wrapper-news__banners div#accordion p {
      color: #8a8a8a;
      font-size: 13px;
      margin-left: 40px; }

div.wrapper-brands div.brand-logo {
  width: 150px;
  height: 60px;
  float: left;
  margin: 70px 0 70px 40px;
  background: url(../img/brand-logos-sprite.png); }
  @media screen and (min-width: 767px) and (max-width: 1150px) {
    div.wrapper-brands div.brand-logo {
      width: 23%;
      margin: 35px 0 35px 60px; } }
  @media screen and (min-width: 300px) and (max-width: 766px) {
    div.wrapper-brands div.brand-logo {
      width: 35%;
      margin: 11.66667px 0 11.66667px 60px; } }
div.wrapper-brands div.rbp {
  background-position: -100px 67px; }
div.wrapper-brands div.motoMetal {
  background-position: -287px 67px; }
div.wrapper-brands div.twocrave {
  background-position: -512px 67px; }
div.wrapper-brands div.atx {
  background-position: 614px 67px; }
div.wrapper-brands div.cruiser {
  background-position: 413px 67px; }
  @media screen and (min-width: 767px) and (max-width: 1150px) {
    div.wrapper-brands div.cruiser {
      background-position: 423px 67px; } }
  @media screen and (min-width: 300px) and (max-width: 766px) {
    div.wrapper-brands div.cruiser {
      background-position: 429px 67px; } }
div.wrapper-brands div.gear {
  background-position: 190px 67px; }
  @media screen and (min-width: 767px) and (max-width: 1150px) {
    div.wrapper-brands div.gear {
      background-position: 196px 67px; } }
  @media screen and (min-width: 300px) and (max-width: 766px) {
    div.wrapper-brands div.gear {
      background-position: 190px 67px; } }

div.wrapper-sitemap {
  background-color: #2a2d32;
  padding: 50px 0px; }
  @media screen and (min-width: 767px) and (max-width: 1150px) {
    div.wrapper-sitemap {
      padding: 0px; } }
  @media screen and (min-width: 300px) and (max-width: 766px) {
    div.wrapper-sitemap {
      padding: 0px; } }
  div.wrapper-sitemap div.sitemap__block {
    float: left;
    width: 22.41379%;
    margin-left: 40px; }
    @media screen and (min-width: 767px) and (max-width: 1150px) {
      div.wrapper-sitemap div.sitemap__block {
        width: 19.73684%;
        margin-top: 35px; } }
    @media screen and (min-width: 300px) and (max-width: 766px) {
      div.wrapper-sitemap div.sitemap__block {
        width: 37.5%;
        margin-top: 17.5px; } }
    div.wrapper-sitemap div.sitemap__block li {
      border-bottom: 1px solid #8a8a8a;
      padding: 5px 0px; }
      div.wrapper-sitemap div.sitemap__block li a {
        color: #8a8a8a;
        font-size: 13px; }
      div.wrapper-sitemap div.sitemap__block li a:hover {
        color: #248cec; }
    div.wrapper-sitemap div.sitemap__block h1 {
      text-transform: uppercase;
      font: 16px ubuntuMedium, sans-serif;
      color: white;
      margin-bottom: 40px; }
      @media screen and (min-width: 767px) and (max-width: 1150px) {
        div.wrapper-sitemap div.sitemap__block h1 {
          margin-bottom: 20px; } }
      @media screen and (min-width: 300px) and (max-width: 766px) {
        div.wrapper-sitemap div.sitemap__block h1 {
          margin-bottom: 10px; } }
  div.wrapper-sitemap div.firstBlock {
    margin-left: 0px; }
    @media screen and (min-width: 767px) and (max-width: 1150px) {
      div.wrapper-sitemap div.firstBlock {
        margin-left: 24px; } }
    @media screen and (min-width: 300px) and (max-width: 766px) {
      div.wrapper-sitemap div.firstBlock {
        margin-left: 40px; } }

footer {
  background-color: #2a2d32;
  padding: 20px 0px;
  font-size: 12px;
  color: #8a8a8a; }
  footer li {
    display: inline-block;
    margin-right: 40px;
    padding: 5px 0px; }
    @media screen and (min-width: 300px) and (max-width: 766px) {
      footer li {
        width: 37%;
        margin: 0 0 0 40px; } }
    @media screen and (min-width: 767px) and (max-width: 1150px) {
      footer li {
        margin: 0 20px 0 20px; } }
  footer span.address::before {
    content: url(../img/footer-address-icon.png); }
  footer span.phoneNumber::before {
    content: url(../img/footer-phone-icon.png); }
  footer span.email::before {
    content: url(../img/footer-email-icon.png); }
  footer span::before {
    margin-right: 10px; }
  footer span.site-name {
    margin-left: 440px; }
    @media screen and (min-width: 300px) and (max-width: 766px) {
      footer span.site-name {
        margin-left: 0px; } }
    @media screen and (min-width: 767px) and (max-width: 1150px) {
      footer span.site-name {
        margin-left: 0px; } }

.jcarousel-wrapper {
  position: relative; }

.jcarousel-wrapper .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  opacity: .66; }

.jcarousel-wrapper .photo-credits a {
  color: #fff; }

/** Carousel **/
.jcarousel {
  position: relative;
  overflow: hidden; }

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.jcarousel li {
  float: left; }
  .jcarousel li img {
    width: 1160px; }
    @media screen and (min-width: 769px) and (max-width: 1150px) {
      .jcarousel li img {
        width: 760px; } }

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 200px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999; }
  @media screen and (min-width: 769px) and (max-width: 1150px) {
    .jcarousel-control-prev,
    .jcarousel-control-next {
      top: 115px; } }

.jcarousel-control-prev {
  left: 0px; }

.jcarousel-control-next {
  right: 0px; }

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block; }

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default; }

/** Carousel Pagination **/
.jcarousel-pagination {
  position: absolute;
  bottom: 5%;
  left: 46%; }

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  min-width: 14px;
  background: #fff;
  color: #fff;
  padding: 3px;
  text-align: center;
  margin-right: 2px;
  opacity: .75; }

.jcarousel-pagination a.active {
  background: #4E443C;
  color: #4E443C;
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
