@font-face {
  font-family: 'RTI';
  src: url('../fonts/Roboto-ThinItalic.ttf');
  src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RT';
  src: url('../fonts/Roboto-Thin.ttf');
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RR';
  src: url('../fonts/Roboto-Regular.ttf');
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RMI';
  src: url('../fonts/Roboto-MediumItalic.ttf');
  src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RM';
  src: url('../fonts/Roboto-Medium.ttf');
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RLI';
  src: url('../fonts/Roboto-LightItalic.ttf');
  src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RL';
  src: url('../fonts/Roboto-Light.ttf');
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RBI';
  src: url('../fonts/Roboto-BoldItalic.ttf');
  src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RB';
  src: url('../fonts/Roboto-Bold.ttf');
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RBlackI';
  src: url('../fonts/Roboto-BlackItalic.ttf');
  src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RBlack';
  src: url('../fonts/Roboto-Black.ttf');
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontR';
  src: url('../fonts/Montserrat-Regular.ttf');
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontB';
  src: url('../fonts/Montserrat-Bold.ttf');
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;

  button {
    @include red_buttons($brand_color_red);
    @include radius(20px);
  }
  a,
  a:active,
  a:focus,
  a:visited {
    text-decoration: none;
  }
  h1 {
    font: 30px $font_bold;
    @media screen and (min-width: 760px) {
      font-size: 52px;
    }
  }
  h2,
  figcaption {
    font: 22px $font_bold;
  }
  h2::first-letter,
  figcaption::first-letter,
  li::first-letter,
  h3::first-letter,
  p::first-letter {
    text-transform: uppercase;
  }
  h3 {
    font: 14px $font_bold;
  }
  p,
  li {
    font: 14px $font_light;
  }
  .brand_name {
    text-transform: uppercase;
  }
  span.capital {
    text-transform: capitalize;
  }
  span.low {
    text-transform: lowercase;
  }
  .tablet,
  .desctop {
    display: none;
  }
  .tablet {
    @media screen and (min-width: 760px) and (max-width: 1439px) {
      display: block;
    }
  }
  .mobile {
    @media screen and (min-width: 760px) {
       display: none;
    }
  }
  .desctop {
    @media screen and (min-width: 1440px) {
      display: block;
    }
  }
}
header {
  width: $mobile_width;
  @media screen and (min-width: 1440px) {
    width: $desctop_width;
    padding: 10px 0px 237px 0px;
  }
  @media screen and (min-width: 760px) and (max-width: 1439px) {
     width: $tablet_width;
     padding-bottom: 237px;
  }
  margin: 0 auto 20px auto;
  background-color: black;
  background-image: url(../img/header_bg_mobile.png);
  padding: 10px 0px 78px 0px;
  text-align: center;
  color: $font_color_white;
  @media screen and (min-width: 760px) {
    background-image: url(../img/header_bg.png);
  }
  div.header__content {
    margin: 0 auto;
    @media screen and (min-width: 1440px) {
      width: $desctop_width*0.4;
    }
    @media screen and (min-width: 760px) and (max-width: 1439px) {
       width: $tablet_width*0.7;
    }
    p {
      @media screen and (min-width: 760px) {
         font-size: 24px;
      }
    }
  }

  h1 {
    text-transform: uppercase;
    margin: 40px 0px 20px 0px;
  }
  div.header__top {
    margin-top: 30px;
    margin-bottom: 140px;
    overflow: hidden;
    @media screen and (min-width: 1440px) {
      width: $desctop_width*0.6528;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 760px) and (max-width: 1439px) {
      width: ($tablet_width - 20);
      margin-left: auto;
      margin-right: auto;
    }
    div.header__top__name {
      margin-top: 5px;
      display: none;
      @media screen and (min-width: 760px) {
        display: block;
        float: left;
      }
    }
    div.header__top__login {
      font-family: $font_bold;
      @media screen and (min-width: 760px) {
        float: right;
      }
      button.btn_login {
        background-color: rgba(255, 78, 80, 0);
        border: 2px solid $font_color_white;
        padding: 7px 18px;
        margin-left: 15px;
        font-family: $font_bold;
      }
    }
  }
  h2 {
    font-size: 20px;
  }
  button.findHoliday {
    margin-top: 35px;
    padding: 10px 30px;
  }
}


div.howWork {
  width: $mobile_width;
  padding-top: 75px;
  overflow: hidden;
  @media screen and (min-width: 1440px) {
    width: $desctop_width*0.6528;
  }
  @media screen and (min-width: 760px) and (max-width: 1439px) {
     width: ($tablet_width - 20);
  }
  margin: 0 auto 20px auto;
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: $font_color_black;
  }
  p {
    color: lightgray;
  }
  div.howWork__step1,
  div.howWork__step2,
  div.howWork__step3 {
    @include radius(5px);
    padding: 70px 0px 0px 20px;
    margin-right: 20px;
    width: $mobile_width*0.853;
    height: $mobile_width*0.5563;
    @media screen and (min-width: 760px) and (max-width: 1439px) {
      width: $tablet_width*0.2773;
      height: $tablet_width*0.26;
      padding-top: 200px;
    }
    @media screen and (min-width: 1440px) {
      padding-top: 225px;
    }
    button {
      font: 10px $font_regular;
      padding: 5px 20px;
    }
    h2 {
      text-align: left;
      color: $font_color_white;
      font-size: 24px;
      margin-top: 10px;
    }
    p {
      margin-top: 10px;
      line-height: 0.8;
      @media screen and (min-width: 1440px) {
        line-height: 1.2;
      }
    }
  }
  div.howWork__step1 {
    background-image: url(../img/works_step1_mobile.png);
    background-repeat: no-repeat;
    @media screen and (min-width: 760px) and (max-width: 1439px) {
    background-image: url(../img/works_step1_tab.png);
    }
    @media screen and (min-width: 1440px) {
    background-image: url(../img/works_step1.png);
    }

  }
  div.howWork__step2 {
    background-image: url(../img/works_step2_mobile.png);
    background-repeat: no-repeat;
    @media screen and (min-width: 760px) and (max-width: 1439px) {
    background-image: url(../img/works_step2_tab.png);
    }
    @media screen and (min-width: 1440px) {
    background-image: url(../img/works_step2.png);
    }
  }
  div.howWork__step3 {
    background-image: url(../img/works_step3_mobile.png);
    background-repeat: no-repeat;
    @media screen and (min-width: 760px) and (max-width: 1439px) {
    background-image: url(../img/works_step3_tab.png);
    }
    @media screen and (min-width: 1440px) {
    background-image: url(../img/works_step3.png);
    }
  }
}

div.partners {
  width: $mobile_width;
  @media screen and (min-width: 1440px) {
    width: $desctop_width*0.6528;
    margin-top: 85px;
  }
  @media screen and (min-width: 760px) and (max-width: 1439px) {
     width: ($tablet_width - 20);
  }
  margin: 0 auto 20px auto;
  text-align: center;
  #partners {
    overflow: hidden;
  }
  div.partners__item {
    width: $mobile_width*0.62;
    margin: 30px auto 0 auto;
    position: relative;
    @media screen and (min-width: 760px) and (max-width: 1439px){
      float: left;
      height: 250px;
      width: 30%;
      padding: 0 70px;
    }
    @media screen and (min-width: 1440px) {
      float: left;
      height: 250px;
      width: 22.8%;
      padding: 0 10px;
    }
    img.partner_foto {
    }
    img.partner_label {
      position: absolute;
      top: 85px;
      left: 59%;
    }
    h2 {
      font-size: 14px;
      margin: 15px 0;
    }
    p {
      color: $font_color_gray;
    }
  }
  button {
    color: $brand_color_red;
    background: white;
    font-size: 14px;
    border: 2px solid $brand_color_red;
    width: $mobile_width*0.875;
    @media screen and (min-width: 1440px) {
      width: $desctop_width*0.132;
    }
    padding: 10px 0;
    margin-top: 23px;
  }
}

div.ideas {
  width: $mobile_width;
  @media screen and (min-width: 1440px) {
    width: $desctop_width*0.6528;
    margin-top: 100px;
  }
  @media screen and (min-width: 760px) and (max-width: 1439px) {
     width: ($tablet_width - 20);
  }
  margin: 0 auto 20px auto;
  text-align: center;
  margin-bottom: 40px;
  h2 {
    color: $font_color_black;
    margin-bottom: 30px;
  }
  div.grid {
    .grid-sizer,
    .grid-item {
      width: 100%;
      margin: 0 5px;
      @media screen and (min-width: 760px) {
        width: 31.9%;
        height: 320px;
      }
      text-align: center;
      img {
        width: $mobile_width*0.9375;
        height: 120px;
        @media screen and (min-width: 760px) {
          width: $tablet_width*0.306;
          height: $tablet_width*0.39;
        }
        @media screen and (min-width: 1440px) {
          width: $desctop_width*0.208;
          height: $desctop_width*0.2153;
        }
        position: relative;
        @include radius(5px);
      }
      figcaption {
        position: absolute;
        top: 30%;
        @media screen and (min-width: 1440px) {
          top: 45%;
        }
        width: 100%;
        color: $font_color_white;
      }
    }
  }
  div.ideas__search {
    margin-top: 10px;
    @media screen and (min-width: 760px) {
      margin-top: 85px;
      margin-bottom: 100px;
    }
    form {
      p {
        @media screen and (min-width: 760px) {
          display: none;
        }
      }
    }
    input {
      margin-top: 10px;
      @media screen and (min-width: 760px) {
        margin-top: 35px;
      }
    }
    input[type="submit"] {
      @include red_buttons($brand_color_red);
      @include radius(15px);
      padding: 11px 0px;
      width: $mobile_width*0.875;
      @media screen and (min-width: 760px) {
        width: $desctop_width*0.1125;
        margin-left: 5px;
      }
    }
    input[type="text"] {
      color: gray;
      border: 1px solid lightgray;
      font: 14px $font_light;
      padding: 10px 15px;
      width: $mobile_width*0.78;
      @media screen and (min-width: 760px) {
        width: $desctop_width*0.1451;
      }
      @include radius(5px);
    }
    p {
      color: $font_color_gray;
      font-size: 18px;
      margin-top: 10px;
    }
  }
}
footer {
  width: $mobile_width;
  margin: 0 auto 20px auto;
  @media screen and (min-width: 1440px) {
    width: $desctop_width;
  }
  @media screen and (min-width: 760px) and (max-width: 1439px) {
     width: ($tablet_width);
  }
  @media screen and (min-width: 760px) {
    overflow: hidden;
  }
  div.footer__logo,
  div.footer__company,
  div.footer__partners,
  div.footer__areto_logo {
    @media screen and (min-width: 760px) {
      float: left;
      width: 10%;
      margin-top: 35px;
      text-align: left;
      margin-left: 95px;
    }
    @media screen and (min-width: 760px) and (max-width: 1439px){
      width: 16%;
    }
  }
  text-align: center;
  border-top: 3px solid $brand_color_red;
  h3 {
    color: $font_color_black;
  }
  .brand_name {
    color: $brand_color_red;
    @media screen and (min-width: 760px) {
      font-size: 16px;
    }
  }
  div.footer__logo {

    @media screen and (min-width: 1440px) {
    margin-left: $padding_desctop;
    }
    @media screen and (min-width: 760px) and (max-width: 1439px){
    margin-left: 40px;
    }
  }
  div.footer__company {
    margin-bottom: 20px;
    ul {
      @media screen and (min-width: 760px) {
        margin-left: -5px;
      }
    }
    li {
      display: inline-block;
      text-transform: capitalize;
      @media screen and (min-width: 760px) {
        display: flex;
        margin-top: 7px;
      }
        a,
        a:active,
        a:focus,
        a:visited {
          color: $font_color_gray;
          padding: 0px 5px;
        }
      }
    }
    div.footer__partners {
      margin-bottom: 20px;
      @media screen and (min-width: 760px) {
        margin-left: 17px;
      }
    }
    div.footer__areto_logo {
      margin-bottom: 20px;
      text-transform: uppercase;
      @media screen and (min-width: 760px) and (max-width: 1439px){
        text-align: right;
      }
      @media screen and (min-width: 1440px) {
        text-align: right;
        margin-right: $desctop_width*0.1736;
        float: right;
      }
      @media screen and (min-width: 760px) and (max-width: 1439px){
       margin-right: 20px;
      }
      h3 {
        color: $font_color_gray;
        @media screen and (min-width: 760px) {
          font-size: 10px;
          margin-bottom: 7px;
        }
      }
    }
}
