//-------------------fonts
$font_regular: MontR, sans-serif;
$font_bold: MontB, sans-serif;
$font_light: RL, sans-serif;
//--------------------colors
$font_color_white: white;
$font_color_black: #333333;
$font_color_gray: gray;
$brand_color_red: #ff4e50;

//-----------sizes margins paddings
$desctop_width: 1440px;
$tablet_width: 768px;
$mobile_width: 320px;

$padding_desctop: 250px;
