@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans/opensans-light-webfont.eot');
    src: url('../fonts/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

article,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}
div.container {
  width: 100%;
  overflow: hidden;
}
footer,
header,
section {
    margin: 0 auto;
}
h1,
h2,
ul.main-menu>li>a,
ul.main-menu--shot>li>a,
ul.main-menu--shot__submenu>li>a,
a.about__company__more,
a.articles__updates__more,
a.articles__updates__more--blogs,
p.slider__head,
p.slider__afterhead,
p.slider__afterhead--cut {
  font-family: "league_gothicregular", Arial, sans-serif;
}
p.slider__text,
p.articles__startshere__text,
p.about__company__text,
p.articles__updates__item__postdate,
article.foot-articles__item>p,
article.foot-articles__item-3>p,
div.footer__desined>p {
  font-family: "open_sanslight", Arial, sans-serif;
}
p.articles__updates__item__topic,
div.footer__desined>p>span {
  font-family: "open_sansextrabold", Arial, sans-serif;
}
/*--------------ХЕДЕР------------*/
header {
  background: url(../images/montains768.png) top center no-repeat;
  text-align: center;
  padding-top: 66px;
}
div.sitename {
  float: left;
}
h1 {
  font-size: 48px;
  color: white;
}
div.sitename>h1 {
  text-shadow: 0em 0.04em 0.2em rgb(60, 60, 60);
}
div.sitename>h1>span {
  color: rgb(88, 62, 99);
  text-shadow: none;
}
ul.main-menu {
  overflow: hidden;
  text-align: right;
  float: right;
}
li {
  float: left;
  margin-left: 42px;
  padding: 7px 0px 7px 10px
}
a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  text-shadow: 0.1em 0.1em 0.2em rgb(60, 60, 60);
}
a:hover {
  border-bottom: 2px solid rgb(237, 191, 255);
}
ul.main-menu--shot {
  display: none;
}
ul.main-menu--shot>li {
position: relative;
}
ul.main-menu--shot__submenu {
  display: none;
  position: absolute;
  top: 95%;
  left: 40.5%;
}
ul.main-menu--shot>li,
ul.main-menu--shot__submenu>li {
  float: none;
}
ul.main-menu--shot li:hover ul.main-menu--shot__submenu {
  display: block;
}
a.active {
  border-bottom: 2px solid rgb(237, 191, 255);
}

/*---------------SLIDER--------------*/

div.slider__wrapper {
  padding: 164px 0 53px 0;
  position: relative;
}
div.slider {
  clear: both;
  padding: 77px 0px 53px 0px;
}
div.slider__greyfone {
  background: rgba(0, 0, 0, 0.1);
  padding-bottom: 61px;
}
div.slider__wrapper::after {
  content: url(../images/slider-tochki2.png);
  display: block;
  padding: 90px 0px 0px 543px;
}
img.iphone {
  position: absolute;
  top: 18%;
  left: 64%;
}
div.slider>p {
  text-align: left;
  color: white;
  display: block;
  width: 55%;
  float: left;
}
p.slider__text {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 26px;
}
p.slider__head {
  font-size: 60px;
  text-shadow: 0em 0.04em 0.2em rgb(60, 60, 60);
}
div.slider p.slider__afterhead {
  font-size: 34px;
  color: rgb(237, 191, 255);
  text-shadow: 0em 0.04em 0.2em rgb(60, 60, 60);
  margin-bottom: 3px;
}

/*--------------БЛОК ABOUT--------------*/
section.about {
  background: linear-gradient(to top, rgb(55, 41, 62), rgb(117, 81, 131));
  padding: 20px 0px 54px 0px;
  border-top: 1px solid rgb(51, 37, 58);
  border-bottom: 1px solid rgb(11, 21, 27);
}
article.about__company-1,
article.about__company-2,
article.about__company-3 {
  width: 24%;
  overflow: hidden;
  float: left;
  padding: 5.8% 0% 1% 6.3%;
  margin-right: 5.5%;
}
article.about__company-1 {
  background: url(../images/about-icons-sprite.png) 9px -354px no-repeat;
}
article.about__company-2 {
  background: url(../images/about-icons-sprite.png) -37px -133px no-repeat;
}
article.about__company-3 {
  background: url(../images/about-icons-sprite.png) -81px 58px no-repeat;
  margin-right: 0px;
  padding: 56px 4px 10px 33px;
}
article.about__company-3>h2,
article.about__company-3>p {
  margin-left: 21px;
}
h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 8px;
}
section.about>h2 {
  text-shadow: 0em 0.04em 0.2em rgb(60, 60, 60);
}
p.about__company__text {
  font-size: 16px;
  color: white;
  line-height: 1.6;
}
a.about__company__more {
  display: block;
  float: right;
  font-size: 18px;
  padding: 20px 13px 0px 0px;
}
article.about__company-3 a.about__company__more {
  padding-top: 19px;
}
a.about__company__more:hover {
  text-shadow: 0 0 1em white, 0 0 1em white;
  border: none;
}

/*--------------СТАТЬИ-----------------*/
section.articles {
  background: rgb(249, 249, 249);
  padding: 102px 0px 0px 0px;
}
article.articles__startshere {
  float: left;
  width: 51%;
  margin-bottom: 65px;
  padding-left: 2px;
  position: relative;
}
p.articles__startshere__text {
  line-height: 1.5;
}
div.articles__startshere__container {
  background: white;
  margin: 0px 41px 16px 25px;
  border-radius: 5px;
  padding: 15px 35px 35px 35px;
}
article.articles__updates {
  float: right;
  width: 47%;
  overflow: hidden;
  padding: 28px 0px 0px 0px;
}
h2.articles__startshere__topic,
h2.articles__updates__topic,
a.articles__updates__more {
  color: rgb(69, 69, 69);
}
h2.articles__startshere__topic-wfoto>span {
  color: rgb(237, 191, 255);
}
img.facefoto {
  position: absolute;
  top: 5%;
  left: 0%;
}
h2.articles__startshere__topic-wfoto {
    color: rgb(69, 69, 69);
    padding: 12px 0px 12px 60px;
    margin-left: -60px;
    margin-bottom: 0px;
}
article.articles__startshere::after {
  content: url(../images/atricle-tochki.png);
  display: block;
  padding: 9px 0px 0px 190px;
}
div.articles__updates__item {
  padding: 12px 0px 16px 66px;
  background: url(../images/article-upd-back-sprite.png) -13px -170px no-repeat;
}
a.articles__updates__more {
  display: block;
  font-size: 18px;
  float: right;
  text-shadow: none;
  padding: 11px 21px 0px 0px;
}
a.articles__updates__more:hover {
  border:none;
}
div.articles__updates__item>p {
  font-size: 16px;
}
p.articles__updates__item__postdate {
  padding-top: 6px;
}
div.logos {
  clear: both;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  padding: 0.6% 4.0% 0.9% 6.4%;
}
figure {
  float: left;
  width: 12%;
  padding: 16px;
  text-align: center;
  margin-right: 0.0%;
}
figure.logos__brand-logos-4 {
  margin-right: 0.5%;
}
figure.logos__brand-logos-5 {
  margin-right: 2.5%;
}

/*--------------НИЖНИЙ РАЗДЕЛ СТАТЬИ-----------*/
section.foot-articles {
  background: rgb(236, 236, 236);
  padding: 96px 0 104px 0;
}
article.foot-articles__item,
article.foot-articles__item-3 {
  float: left;
  width: 30%;
  margin: 0% 6.0% 0% 0%;
}
article.foot-articles__item-3 {
  margin: 0% 0% 0% -2%;
}
article.foot-articles__item>h2,
article.foot-articles__item>h1,
article.foot-articles__item-3>h2 {
  color: rgb(69, 69, 69);
}
article.foot-articles__item>h1>span {
  color: rgb(186, 186, 186);
}

article.foot-articles__item p.foot-articles__item__copyright {
  font-family: "Georgia Italic";
  font-style: italic;
  font-size: 16px;
  color: rgb(197, 197, 197);
  margin: 10px 0px 5px 0px;
  text-shadow: 0em 0.1em 0.1em white, 0em 0.1em 0.1em white;
}
article.foot-articles__item>p,
article.foot-articles__item-3>p {
  color: rgb(120, 120, 120);
  font-size: 16px;
  line-height: 1.5;
}

/*------------------FOOTER--------------*/

footer {
  background: url(../images/montains768.png) bottom center no-repeat;
  padding: 40px 0 45px 0;
}
nav.footer__nav {
  float: left;
  width: 65%;
  margin-left: 0px;
}
nav.footer__nav ul.main-menu {
  float: none;
}
nav.footer__nav ul.main-menu>li>a {
  font-size: 20px;
}
  nav.footer__nav ul.main-menu>li {
  margin-left: 3.0%;
  padding: 0.9% 4% 0.7% 0%;
}
nav.footer__nav ul.main-menu li.main-menu__footer-frst {
  margin-left: 0%;
}
div.footer__desined {
  float: right;
  color: white;
}
div.footer__desined>p {
  font-size: 12px;
  margin-top: 16px;
}

/*-----------------------320px----------------------------*/
  @media (min-width: 100px) and (max-width: 479px) {
    html {
     -webkit-text-size-adjust: none;
  }
  header {
    padding-top: 55px;
  }
  div.slider__wrapper {
    padding: 70px 0 30px 0;
  }
  div.slider__wrapper::after {
    padding: 70px 0 0 10px;
  }
  div.slider>p {
    width: 100%;
    text-align: center;
  }
  div.slider p.slider__afterhead {
  font-size: 28px;
  }
  p.slider__head {
  font-size: 40px;
  }
    div.slider__greyfone {
      background: none;
      padding-bottom: 0;
    }
    header>div.container {
      overflow: visible;
    }
    img.iphone,
    nav.top-menu,
    nav.footer__nav,
    div.slider p.slider__text {
      display: none;
    }
    h2.articles__startshere__topic-wfoto>span {
      display: block;
    }
    div.articles__startshere__container {
      margin-right: 25px;
    }
    article.articles__startshere::after {
      padding-left: 128px;
    }
    article.articles__startshere {
      margin-bottom: 15px;
    }
    figure {
      width: 38%;
    }
    figure.logos__brand-logos-4,
    figure.logos__brand-logos-5 {
      margin: 0%;
    }
    article.about__company-1,
    article.about__company-2,
    article.about__company-3 {
      width: 80%;
    }
    article.about__company-1,
    article.about__company-2,
    article.about__company-3 {
    background: url(../images/about-icons-sprite.png) 9px -398px no-repeat;
    padding-left: 14.3%;
    }
    article.about__company-3 {
      margin-top: 19px;
    }
    section.articles {
      padding-top: 70px;
    }
    article.articles__startshere,
    article.articles__updates {
      width: 100%;
    }
    article.articles__updates {
      padding-bottom: 28px;
    }
    section.foot-articles {
      padding-bottom: 15px;
    }
    article.foot-articles__item,
    article.foot-articles__item-3 {
      display: none;
    }
    ul.main-menu--shot {
      display: block;
    }
    ul.main-menu--shot__submenu {
      top: 101%;
      left: -0.5%;
      width: 100%;
      margin: 0 auto;
    }
    ul.main-menu {
      text-align: center;
      float: none;
    }
    li {
      float: none;
      margin-left: 0px;
    }
    div.sitename {
    float: none;
    }
    div.footer__desined {
      float: none;
      text-align: center;
    }
    article.about__company-2,
    article.about__company-3 {
      background: url(../images/about-icons-sprite.png) 9px -354px no-repeat;
    }
  }

/*----------------------480px-------------------------------*/
  @media (min-width: 480px) and (max-width: 767px) {
    html {
     -webkit-text-size-adjust: none;
  }
    header>div.container {
      overflow: visible;
    }
    nav.top-menu {
      display: none;
    }
    ul.main-menu--shot {
      display: block;
    }
    ul.main-menu--shot>li {
      margin: 0 auto;
      width: 50%;
      border: 1px solid rgb(29, 37, 43);
      border-radius: 5px;
      background: rgba(58, 42, 66, 0.9);
    }
    ul.main-menu--shot__submenu {
      top: 101%;
      left: -0.5%;
      width: 100%;
      margin: 0 auto;
      border: 1px solid rgb(29, 37, 43);
      border-top: none;
      background: rgba(58, 42, 66, 0.9);
      border-radius:  0px 0px 5px 5px;
    }
    ul.main-menu--shot__submenu li {
      border-top: 1px solid rgb(76, 62, 85);
    }
    ul.main-menu--shot__submenu li:hover {
      background: rgba(58, 42, 66, 0.98);
      border-bottom: 2px solid rgb(232, 191, 249);
      padding: 4px 5px 6px 5px;
    }
    ul.main-menu--shot>li:hover {
      border-bottom: none;
      border-radius: 5px 5px 0px 0px;
      background: rgba(58, 42, 66, 0.98);
    }
    a.active {
      border-bottom: 2px solid rgb(232, 191, 249);
    }
    a:hover {
      border-bottom: none;
    }
    div.slider__wrapper {
      padding: 60px 0 10px 0
    }
    div.slider__greyfone {
    padding-bottom: 166px;
    }
    img.iphone {
      top: 4%;
      left: 43%;
    }
    div.slider>p {
      width: 52%;
    }
    div.slider p.slider__afterhead {
    font-size: 28px;
    }
    p.slider__head {
    font-size: 40px;
    }
    div.slider p.slider__text {
      display: none;
    }
    div.slider__wrapper::after {
    padding: 90px 0px 0px 60px;
    }
    figure {
      width: 29%;
    }
    article.about__company-1,
    article.about__company-2,
    article.about__company-3 {
      width: 90%;
    }
    article.about__company-1,
    article.about__company-2 {
      padding: 5.8% 0% 1% 11.3%;
    }
    article.articles__startshere,
    article.articles__updates {
      width: 100%;
      margin-bottom: 20px;
    }
    article.foot-articles__item,
    article.foot-articles__item-3 {
      float: left;
      width: 90%;
      margin: 20px 0px 20px 0px;
    }
    div.logos {
      padding: 0.6% 0% 0.9% 0%;
    }
    figure.logos__brand-logos-4,
    figure.logos__brand-logos-5 {
      margin-right: 0%;
    }
    figure {
      width: 25%;
    }
    section.foot-articles {
    padding: 40px 0% 40px 0%;
    }
    ul.main-menu--shot {
      display: block;
    }
    li {
      float: none;
      margin-left: 0px;
    }
    nav.footer__nav {
      float: none;
      margin: 0 auto;
      width: auto;
      text-align: center;
    }
    nav.footer__nav ul.main-menu>li {
      float: left;
      text-align: center;
      padding: 0% 2.7% 0% 2.7%;
      margin: 0px;
    }
    div.footer__desined {
      float: none;
      text-align: center;
    }
    div.sitename {
    float: none;
    }
    article.about__company-1,
    article.about__company-2 {
      background: url(../images/about-icons-sprite.png) 9px -390px no-repeat;
    }
    article.about__company-3 {
      background: url(../images/about-icons-sprite.png) 9px -360px no-repeat;
    }
    article.about__company-3 a.about__company__more {
      margin-left: -19px;
    }
    p.foot-articles__item__copyright {
      display: none;
    }
  }
/*768px*/
  @media (min-width: 768px) and (max-width: 959px) {
    html {
     -webkit-text-size-adjust: none;
    }
    header {
      padding-top: 8.6%;
    }
    div.sitename {
      float: none;
      text-align: left;
    }
    li {
      padding: 7px 55px 7px 0px;
      margin-left: 0px;
    }
    figure {
      width: 11%;
    }
    ul.main-menu {
      overflow: hidden;
      text-align: left;
      float: left;
      margin-top: 2.9%;
    }
    nav.footer__nav {
      float: none;
      width: auto;
      margin-left: 0px;
    }
    nav.footer__nav ul.main-menu>li {
    padding: 0.9% 4% 0.7% 0%;
  }
    div.slider__wrapper {
      padding: 9.9% 0% 5.5% 0%;
    }
    div.slider {
      padding: 50px 0px 50px 23px;
    }
    img.iphone {
      top: 4%;
    }
    p.slider__head {
      font-size: 50px;
    }
    h2 {
      font-size: 24px;
    }
    article.about__company-1,
    article.about__company-2,
    article.about__company-3 {
      background: url(../images/about-icons-sprite.png) 9px -373px no-repeat;
    }
    article.about__company-3 {
      padding: 48px 0px 0px 40px;
    }
    article.about__company-1,
    article.about__company-2,
    article.about__company-3 {
    width: 25%;
    }
    article.about__company-1,
    article.about__company-2 {
        margin-right: 2.0%
    }
    p.foot-articles__item__copyright {
      display: none;
    }
    h2.articles__startshere__topic-wfoto>span {
      display: none;
    }
    div.footer__desined {
      clear: both;
    }
  }
/*961px+*/
  @media (min-width: 961px) and (max-width: 10000px) {
  div.container {
    width: 960px;
    margin: 0 auto;
  }
  div.slider__wrapper {
    /*padding-bottom: 0%;
    padding-top: 10%;*/
    /*background: url(../images/iphone.png) 120% 28% no-repeat;*/
  }
}
