@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans/opensans-light-webfont.eot');
    src: url('../fonts/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
article,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

div.container {
  margin: 0 auto;
}
div.container {
  width: 960px;
  overflow: hidden;
}
footer,
header,
section {
    margin: 0 auto;
}

h1,
h2,
ul.main-menu>li>a,
a.about__company__more
 {
  font-family: "league_gothicregular", Arial, sans-serif;
}
p.slider__text,
p.articles__startshere__text,
p.about__company__text,
p.articles__updates__item1>p
 {
  font-family: "open_sanslight", Arial, sans-serif;
}
p.articles__updates__item1__topic {
  font-family: "open_sansextrabold", Arial, sans-serif;
}
/*--------------ХЕДЕР------------*/
header {
  background: url(../images/montains768.png) top center no-repeat;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 26px;
  float: left;
}
ul.main-menu {
  overflow: hidden;
  text-align: right;
  float: right;
}
li {
  float: left;
  margin-left: 45px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
div.slider {
  clear: both;
}
/*--------------БЛОК ABOUT--------------*/
section.about {
  background: linear-gradient(to top, rgb(55, 41, 62), rgb(117, 81, 131));
}
article.about__company-1,
article.about__company-2,
article.about__company-3 {
  width: 30%;
  overflow: hidden;
  float: left;
  padding-left: 3%;
}
article.about__company-1 {
  background: url(../images/about-icons-sprite.png) -5px -75px no-repeat;
}
article.about__company-2 {
  background: url(../images/about-icons-sprite.png) -44px -40px no-repeat;
}
article.about__company-3 {
  background: url(../images/about-icons-sprite.png) -80px 0px no-repeat;
}

h2 {
  font-size: 14px;
  color: white;
}
p.about__company__text {
  font-size: 10px;
  color: white;
}
a.about__company__more {
  display: block;
  float: right;
}

/*--------------СТАТЬИ-----------------*/
section.articles {
  background: rgb(249, 249, 249);
}
article.articles__startshere {
  background: white;
  float: left;
  width: 50%;
}
article.articles__updates {
  float: left;
  width: 50%;
}
div.logos {
  clear: both;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  overflow: hidden;
}
figure {
  float: left;
  width: 12%;
  padding: 2%;
  text-align: center;
}

/*--------------НИЖНИЙ РАЗДЕЛ СТАТЬИ-----------*/
section.foot-articles {
  background: rgb(236, 236, 236);
}
article.foot-articles__item {
  float: left;
  width: 30%;
}

/*------------------FOOTER--------------*/

footer {
  background: url(../images/montains768.png) bottom center no-repeat;
}
nav.footer__nav {
  float: left;
  margin-left: -45px;
}
div.footer__desined {
  float: right;
}




/*320px*/
  @media (min-width: 100px) and (max-width: 479px) {
    html {
     -webkit-text-size-adjust: none;
  }
    div.container {
      width: 100%;
    }
    figure {
      width: 46%;
    }
    article.about__company-1,
    article.about__company-2,
    article.about__company-3 {
      width: 97%;
    }
    article.articles__startshere,
    article.articles__updates {
      width: 100%;
    }
  }
/*480px*/
  @media (min-width: 480px) and (max-width: 767px) {
    html {
     -webkit-text-size-adjust: none;
  }
    div.container {
      width: 100%;
    }
    figure {
      width: 29%;
    }
    article.about__company-1,
    article.about__company-2,
    article.about__company-3 {
      width: 97%;
    }
    article.articles__startshere,
    article.articles__updates {
      width: 100%;
    }
  }
/*768px*/
  @media (min-width: 768px) and (max-width: 959px) {
    html {
     -webkit-text-size-adjust: none;
  }
    div.container {
      width: 100%;
    }
    figure {
      width: 12%;
    }
  }
