#footer.footer(ng-controller='LandingController')
  .white
    .v-line
  .content
        .text.col-sm-6
          p Automated Fact Check Inc.
          p U.S. corporation headquartered in San Diego California

        .text.col-sm-6(style='text-align: right;')
          p.email
            a.address(ng-href='mailto:opportunities@sprite.com')
              i.fa.fa-envelope
              span opportunities@sprite.com
