div.wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 0 5px 10px 5px;
  background: lightgrey;
}
li {
  padding: 5px;
  font-size: 18px;
}
input[type=button],
input[type=button]:active,
input[type=button]:focus {
  font-size: 10px;
  margin-left: 5px;
  border: 0px;
  border-radius: 5px;
}
.item-delete {
  background: red;
}
.item-edit {
  background: green;
}
.item-save {
  background: lightblue;
}
.item-add {
  background: yellow;
}
div.controlls {
  padding-left: 20px;
}
