.landing {
  .content {
    position: relative;
    max-width: 53.125rem;
    padding: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
  }
  header {
    background: #474e5a;
    padding: 10px 0;
    .movies {
      display: inline-block;
      padding: 5px 0 0 5px;
      color: white;
    }
    .login {
      border: 1px solid grey;
      border-radius: 5px;
      padding: 5px;
      color: lightgrey;
      .account {
        @media screen and (max-width: 750px) {
          display: none;
        }
      }
      i {
        color: white;
        margin-left: 5px;
        @media screen and (max-width: 750px) {
          margin-left: 0;
        }
      }
    }
  }
  footer {
    background: #474e5a;
    text-align: center;
    padding: 10px 0;
  }
}
