
.movie-detailed(ng-show='vm.details')
    .content
      .back.pull-left
        a(ng-click='vm.details = false')
          i.fa.fa-chevron-left
          span Back to list
      .next.pull-right
        a(ng-click='vm.nextMovieDetails()')
          span Next movie
          i.fa.fa-chevron-right
      .clearfix
      .description
        .col-md-3.col-sm-6.col-xs-5
          img(ng-src='http://image.tmdb.org/t/p/w342{{vm.movieDetails.poster_path}}', , onerror="this.src='img/no-poster.png'")
        .col-md-9.col-sm-6.col-xs-7
          .title {{vm.movieDetails.original_title}}
          .scores
            .score Score: &nbsp;
              span {{vm.movieDetails.vote_average}}
            .rating Rating: &nbsp;
              span {{vm.movieDetails.vote_average}}
            .reliase Release date:  &nbsp;
              span {{vm.movieDetails.release_date}}
            .overview {{vm.movieDetails.overview}}
        .clearfix
        .title-mob {{vm.movieDetails.original_title}}
        .overview-mob {{vm.movieDetails.overview}}
